<!-- <div class="header"> -->
<section class="header">
            <p>வாழ்க்கை மேம்பட</p>
            <p>சேமித்துப் பழகுவோம்</p>
</section>
<div class="navbar" >
    <div routerLink="/home">
       <img routerLink="/home" src="../assets/logo.jpg" alt="" />
    </div>
    <div>
        <div class="navbar-flex" id="open" [ngClass]="status ? 'success' : 'hidden'">
        <ul>
        <div class="menu-close" >
            <h3 (click)="clickEvent()">&#8999;</h3>
        </div>
        <a routerLink="home" routerLinkActive="active" ><li>Home</li></a>
        <a routerLink="aboutus" routerLinkActive="active"><li>About us</li></a>
        <a routerLink="plan" routerLinkActive="active"><li>Chit Plans</li></a>
        <a routerLink="planning" routerLinkActive="active"><li>Plans</li></a>
        <a routerLink="contactus" routerLinkActive="active"><li>Contact us</li></a>
        </ul>
        </div>
    </div>
    <div class="menu-open">
        <h3 (click)="clickEvent()">&#9776;</h3>
    </div>
</div>
<router-outlet (activate)="onActivate($event)"></router-outlet>
<footer class="footer">
    <div class="footer-flex">
    <div class="inner-text">
        <p></p>
        <p></p>
    </div>
    <div class="inner-text">
        <h2>START NOW</h2>
        <p>Join Sparrow Chits today and embark on a journey where your savings transform into
            prosperity. Experience the joy of financial security and the confidence to pursue your
            dreams. With Sparrow Chits, your financial future takes flight.</p>
        <p>At Sparrow Chits, we believe that every penny saved is a step towards a brighter future. Join us on
            this exciting journey of financial growth and security. Together, let's build a foundation for a
            prosperous tomorrow.</p>
        <p>Transform your savings. Elevate your future with Sparrow Chits</p>
    </div>
    <div class="inner-text">
        <h2>REACH US</h2>
        <p>&#9990;&nbsp;&nbsp;&nbsp;+91 8508 444 888</p>
        <p>&#128187;&nbsp;&nbsp;&nbsp;www.sparrowchits.com</p>
        <p>&#9993;&nbsp;&nbsp;&nbsp; info@ sparrowchits.com</p>
        <p>&#9991;&nbsp;&nbsp;&nbsp;Shop No. 3, Marvel Complex, Vinayagar Kovil Street, BK Pudur, 
            Kuniamuthur Po, Coimbatore - 641008.</p>
    </div>
    </div>
</footer>
<div class="whatsapp">
<a href="http://wa.me/+918508444888" target="_blank">
    <img class="w-img" src="../assets/images/whatsapp.256x256.png" alt="" />
</a>
</div>
<div class="tel">
<a href="tel:8508444888">
    <img class="t-img" src="../assets/images/tel.png" alt="" />
</a>
</div>

      