<!-- <div class="header"> -->
<section class="header">
        <div>
            <p>&#9993; support@sparrowsystems.in</p>
        </div>
        <div>
            <div class="numbers">
                <p>&#128241; +91 7373 888 555</p>
                <p>	&#9990; +91 7373 888 777</p>
                <p> &#9743; 0422 2250077</p>
            </div>
        </div>
</section>
<div class="navbar" >
    <div>
        <img src="../assets/logo.jpg" alt="" />
    </div>
    <div>
        <div class="navbar-flex" id="open" [ngClass]="status ? 'success' : 'hidden'">
        <ul>
        <div class="menu-close" >
            <h3 (click)="clickEvent()">&#8999;</h3>
        </div>
        <a routerLink="home"><li>HOME</li></a>
        <a routerLink="aboutus"><li>ABOUT US</li></a>
        <a routerLink="plan"><li>PLANS</li></a>
        <a routerLink="contactus"><li>CONTACT US</li></a>
        </ul>
        </div>
    </div>
    <div class="menu-open">
        <h3 (click)="clickEvent()">&#9776;</h3>
    </div>
</div>
<router-outlet></router-outlet>
<footer class="footer">
    <div class="footer-flex">
    <div class="inner-text">
        <p></p>
        <p></p>
    </div>
    <div class="inner-text">
        <p>&#10148;&nbsp;&nbsp;&nbsp; Join Sparrow Chits today and embark on a journey where your savings transform into
            prosperity. Experience the joy of financial security and the confidence to pursue your
            dreams. With Sparrow Chits, your financial future takes flight.</p>
        <p>Transform your savings. Elevate your future with Sparrow Chits</p>
    </div>
    <div class="inner-text">
        <h2>REACH US</h2>
        <p>&#9990;&nbsp;&nbsp;&nbsp;+91 8508 444 888</p>
        <p>&#10148;&nbsp;&nbsp;&nbsp;www.sparrowchits.com</p>
        <p>&#9993;&nbsp;&nbsp;&nbsp; info@ sparrowchits.com</p>
        <p>&#10148;&nbsp;&nbsp;&nbsp;Shop No. 3, Marvel Complex, Vinayagar Kovil Street, BK Pudur, 
            Kuniamuthur Po, Coimbatore - 641008.</p>
    </div>
    </div>
</footer>
<!-- <div class="whatsapp">
<a href="http://wa.me/+918248339060" target="_blank">
    <img class="w-img" src="../assets/images/whatsapp.256x256.png" alt="" />
</a>
</div>
<div class="tel">
<a href="tel:8248339060">
    <img class="t-img" src="../assets/images/tel.png" alt="" />
</a>
</div>
-->
      