<div class="navigate">
    <h2>PAYMENTS</h2>
</div>
<div class="bg3">
    <div class="bg2">
        <div class="bg1">
            <div>
                <img class="bnk-img" src="../../assets/icons/icons8-bank-64 (1).png" alt="" />
            </div>
            <div class="card">
                <table>        
                    <tr>
                        <td><p><b>Name :</b></p></td>
                        <td><p>SPARROW ENTERPRISES</p></td>
                    </tr>
              
                    <tr>
                        <td><p><b>Account Type :</b></p></td>
                        <td><p>Current Account</p></td>
                    </tr>
               

                    <tr>
                        <td><p><b>Account No :</b></p></td>
                        <td><p>50200062899991</p></td>
                    </tr>                    

                    <tr>
                        <td><p><b>Bank :</b></p></td>
                        <td><p>HDFC BANG LTD</p></td>
                    </tr>             

                    <tr>
                        <td><p><b>IFSC  :</b></p></td>
                        <td><p>HDFC0005842</p></td>
                    </tr>

                    <tr>
                        <td><p><b>Branch  :</b></p></td>
                        <td><p>Kuniamuthur</p></td>
                    </tr>
            </table>
            </div>
            <div class="card">
                <div class="flex-card-2">
                    <div>

                        <img src="../../assets/images/gp (2).png" alt="" /> 
                    </div>
                    <div class="gp-num">
                        <p>+91 8508 444 888 </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>