/* You can add global styles to this file, and also import other style files */
body{
    font-family: Calibri;
    margin-top: 0;
    margin-left: 20;
    margin-right: 20;
    margin-bottom: 20;
    font-size: 16px;
}