<div class="home">
    <div class="heading">
        <h2>Introducing SPARROW CHITS: Transforming Savings into Prosperity</h2>
        <p><b>Founded on January 1, 2024</b></p>
        <p>Welcome to Sparrow Chits, a trailblazing savings chit company that brings innovation,
            trust, and financial empowerment to your doorstep. At Sparrow Chits, we understand
            the importance of savings in building a secure and prosperous future. Our mission is to
            redefine the savings experience, making it accessible, transparent, and rewarding for
            everyone.</p>
    </div>
    <div class="philosophy">
        <h2>Our Philosophy</h2>
        <p>Sparrow Chits is driven by a core philosophy of making savings an
            integral part of everyone's life. We believe that, like the diligent sparrow storing small
            twigs for its nest, consistent savings can lead to significant financial milestones.</p>
    </div>
    <div class="whyUs">
        <h2>Key Features of Sparrow Chits</h2>
        <div class="whyUs-flex">
            <div class="whyUs-box">
                <h2>Innovation in Savings</h2>
                <p> We are committed to introducing innovative and flexible
                    savings solutions that adapt to your unique financial needs. Sparrow Chits brings a
                    fresh perspective to the age-old concept of savings chits, making it more dynamic and
                    responsive.</p>
            </div>
            <div class="whyUs-box">
                <h2>Trust and Integrity</h2>
                <p>Your trust is our most valuable asset. Sparrow Chits operates with
                    the highest levels of integrity and transparency. We take pride in building lasting
                    relationships with our members, ensuring that every interaction is grounded in trust.</p>
            </div>
            <div class="whyUs-box">
                <h2>Financial Inclusion</h2>
                <p> Sparrow Chits believes that financial prosperity should be
                    accessible to all. Our savings chit plans are designed to be inclusive, catering to
                    individuals from diverse backgrounds and financial capabilities.</p>
            </div>
        </div>
    </div>
    <div >
        <table class="table">
            <tbody>
                <tr>
                    <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                    <th>Chit Value</th>
                    <th>Chit Date</th>
                    <th>Disbursal Date</th>
                </tr>
                <tr>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td><b>Rs. 1,00,000/-</b></td>
                    <td><b>1st of Every Month</b></td>
                    <td><b>7th of Every Month</b></td>
                </tr>
            </tbody>
        </table>
        <table class="table-2">
            <tbody>
                <tr>
                    <th>S.NO</th>
                    <th>Chit Value</th>
                    <th>Chit Date</th>
                    <th>Disbursal Date</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>05-01-2024</td>
                    <td>5,000.00</td>
                    <td>75,000.00</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>05-02-2024</td>
                    <td>3,950.00</td>
                    <td>76,000.00</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>05-03-2024</td>
                    <td>4,000.00</td>
                    <td>77,000.00</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>05-04-2024</td>
                    <td>4,050.00</td>
                    <td>78,000.00</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>05-05-2024</td>
                    <td>4,100.00</td>
                    <td>79,000.00</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>05-06-2024</td>
                    <td>4,150.00</td>
                    <td>80,000.00</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>05-07-2024</td>
                    <td>4,1200.00</td>
                    <td>81,000.00</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>05-08-2024</td>
                    <td>4,250.00</td>
                    <td>82,000.00</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>05-09-2024</td>
                    <td>4,300.00</td>
                    <td>83,000.00</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>05-10-2024</td>
                    <td>4,350.00</td>
                    <td>84,000.00</td>
                </tr>
                <tr>
                    <td>11</td>
                    <td>05-11-2024</td>
                    <td>4,400.00</td>
                    <td>85,000.00</td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>05-12-2024</td>
                    <td>4,450.00</td>
                    <td>86,000.00</td>
                </tr>
                <tr>
                    <td>13</td>
                    <td>05-01-2025</td>
                    <td>4,500.00</td>
                    <td>87,000.00</td>
                </tr>
                <tr>
                    <td>14</td>
                    <td>05-02-2025</td>
                    <td>4,550.00</td>
                    <td>88,000.00</td>
                </tr>
                <tr>
                    <td>15</td>
                    <td>05-03-20245</td>
                    <td>4,600.00</td>
                    <td>89,000.00</td>
                </tr>
                <tr>
                    <td>16</td>
                    <td>05-04-20245</td>
                    <td>4,700.00</td>
                    <td>91,000.00</td>
                </tr>
                <tr>
                    <td>17</td>
                    <td>05-05-20245</td>
                    <td>4,800.00</td>
                    <td>93,000.00</td>
                </tr>
                <tr>
                    <td>18</td>
                    <td>05-06-20245</td>
                    <td>4,850.00</td>
                    <td>94,000.00</td>
                </tr>
                <tr>
                    <td>19</td>
                    <td>05-07-20245</td>
                    <td>4,900.00</td>
                    <td>95,000.00</td>
                </tr>
                <tr>
                    <td>20</td>
                    <td>05-08-20245</td>
                    <td>5,000.00</td>
                    <td>97,000.00</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="whyUs">
        <h2>What Sets Us Apart?</h2>
        <div class="whyUs-flex">
            <div class="whyUs-box">
                <h2>Digital Excellence</h2>
                <p>Embracing the digital era, Sparrow Chits provides a seamless online
                    platform for easy membership, contributions, and tracking. Our tech-driven approach
                    ensures that you have complete control over your savings journey</p>
            </div>
            <div class="whyUs-box">
                <h2>Community Focus</h2>
                <p>Sparrow Chits is not just a savings platform; it's a community of
                    like-minded individuals working together towards financial goals. Our communitydriven model encourages shared learning, support, and celebration of financial
                    achievements.</p>
            </div>
            <div class="whyUs-box">
                <h2>Dedicated Support</h2>
                <p> Sparrow Chits is committed to your success. Our customer
                    support team is ready to assist you at every step, addressing queries, providing
                    guidance, and ensuring a smooth savings experience.</p>
            </div>
        </div>
    </div>
</div>