.bg1{
    background-color: rgb(244, 250, 253);
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
    padding-top: 25px;
    padding-bottom: 20px;
}
.bg2{
    background-color: rgb(215, 240, 255);
    padding-top: 30px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}
.bg3{
    background-color: rgb(188, 228, 255);
    padding-top: 36px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
h2{
    text-align: center;
    margin: 50px auto;
}
table{
    border-collapse: collapse;
    border-radius: 10px;
    margin: 50px auto;
}
.table{
    margin: 50px auto 50px auto;
    text-align: center;
}

.table td{
    color: rgb(20, 141, 220);
    padding: 10px 30px;
}
.table td{
    border: none;
    border-right: 1px solid rgb(0, 162, 255);
}
.table-2{
    margin: 0 auto;
    text-align: center;
}
.table-2 th , td{
    border: 2.5px solid rgb(0, 162, 255);
    margin: 0;
    padding: 8px 40px;
}
tr:nth-child(even) {
    background-color: white;
}
@media screen and (max-width: 700px) {
    table{
        width: fit-content;
    }
    .table td{
        color: rgb(20, 141, 220);
        padding: 2px 2px;
    }
    .table td{
        color: rgb(20, 141, 220);
        padding: 2px 5px;
        width: 90px;
    }
    .table-2 th , td{
        border: 2.5px solid rgb(0, 162, 255);
        padding: 2px 5px;
        width: 90px;
    }
}
@media screen and (max-width: 450px) {
    .table td{
        color: rgb(20, 141, 220);
        padding: 2px 5px;
        width: 50px;
    }
    .table-2 th , td{
        border: 2.5px solid rgb(0, 162, 255);
        padding: 2px 5px;
        width: 50px;
    }
}